anyio==3.5.0
APScheduler==3.9.1
asgiref==3.5.0
click==8.0.4
Deprecated==1.2.13
fastapi==0.75.0
fastapi-responses==0.2.1
grpcio==1.44.0
h11==0.13.0
idna==3.3
packaging==21.3
Pillow==9.2.0
protobuf==3.19.4
pydantic==1.9.0
pyparsing==3.0.7
python-decouple==3.6
python-dotenv==0.21.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
qrcode==7.3.1
redis==4.1.4
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
tzdata==2021.5
tzlocal==4.1
uvicorn==0.17.6
wrapt==1.14.0
